doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title THE IDOLM@STER SHINY COLORS
		link(rel='stylesheet', href="../css/style.css")
	body
		header
			div.titlebar
				ul.info
					li
						img#icon(src="https://shinycolors.enza.fun/icon_512x512.png")
					li 
						span#title アイドルマスター シャイニーカラーズ
				ul.buttons
					li
						button.control(type="button", id="close")
							img(src="../assets/close.svg")
		main
			iframe#iframe(src="https://shinycolors.enza.fun/", width="1136", height="640")
		script(type="text/javascript").
			require("../js/renderer.js")
