@font-face {
	font-family: 'IPAGothic';
	src: url('../assets/ipag.ttf');
}

html {
	overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    margin:  0;
    padding: 0;
    position: relative;
    height: 100vh;
}

#iframe {
	overflow: hidden;
	border: 0;
	padding: 0;
}

.titlebar {
	display: flex;
	height: 30px;
	background-color: white;

	ul.info {
		width: 100vw;
		height: 30px;
		margin: 0;
		border: 0;
		padding: 0;
		
		li {
			display: inline-block;
			height: 30px;
			vertical-align: top;

			#icon {
				margin : 1px;
				width: 28px;
				height: 28px;
				display: inline-block;
			}
			#title {
				display: inline-block;
				font-family: IPAGothic;
				font-size: 16px;
				padding: 7px;
			}
		}
	}
	ul.buttons {
		text-align: right;
		width: 100vw;
		height: 30px;
		margin: 0;
		border: 0;
		padding: 0;
		
		li {
			display: inline-block;
			height: 30px;
			vertical-align: top;

			.control {
				display: inline-block;
				padding: 0;
				//margin-left: 2px;
				width: 30px;
				height: 30px;
				border: 0;

				&#close {
					padding: 0;
					width: 30px;
					height: 30px;
					background-color: white;
					transition-duration: 0.5s;

					&:hover {
						background-color: red;
					}
				}
			}
		}
	}
}
